body {
  background: #333;
}

html {
  color: white;
  font-family: sans-serif, Helvetica, sans-serif;
}

.container {
  width: 50%;
  margin: auto;
}

.anime-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 10px;
}

.anime-poster {
  width: 150px;
  height: 200px;
  margin-bottom: 10px;
}

.my-anime-list-link {
  text-decoration: none;
  padding: 5px 8px;
  background: #2e51a2;
  color: white;
  border-radius: 4px;
  font-size: 12px;
}

.anime-title {
  font-size: 14px;
}

.day-tab {
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.sat,
.sun,
.mon,
.tue,
.wed,
.thu,
.fri {
  padding: 4px 8px;
  cursor: pointer;
  margin: 2px;
}

.sat:hover,
.sun:hover,
.mon:hover,
.tue:hover,
.wed:hover,
.thu:hover,
.fri:hover {
  padding: 4px 8px;
  background: #ddd;
  cursor: pointer;
  margin: 2px;
  color: black;
  border-radius: 2px;
}

.selected {
  padding: 4px 8px;
  background: #ddd;
  cursor: pointer;
  color: black;
  border-radius: 2px;
}
